* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

/*
  If the user has expressed their preference for
  reduced motion, then don't use animations, etc.

  source: https://web.dev/prefers-reduced-motion/
*/
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  color: var(--color-neutral-400);
  font-family: var(--font-base-family);
}

/* Keep footer at bottom CSS */
html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}

main.layout {
  align-content: baseline;
  flex-grow: 1;
  margin-top: var(--space-medium);
  width: 100%;

  @media screen and ($breakpoint-medium) {
    margin-top: var(--space-xx-large);
  }
}

/* end */

h1 {
  font-family: var(--font-second-family);
  font-size: var(--text-xxx-large);
  line-height: var(--line-height-page-heading);
  margin-bottom: var(--space-large);
}

h2,
.h2 {
  font-family: var(--font-base-family);
  font-size: var(--text-medium);
  font-weight: var(--bold);
  line-height: auto;
}

h3 {
  font-size: var(--text-medium);
  font-weight: var(--semibold);
}

h4 {
  font-size: var(--text-small);
  font-weight: var(--bold);
}

.strong {
  font-weight: var(--bold);
}

.layout {
  padding: 0 var(--space-medium);
  max-width: $desktop;
  margin: 0 auto;

  @media screen and ($breakpoint-medium) {
    padding: 0 var(--space-xx-large);
  }
}

.site-layout {
  @media screen and ($breakpoint-medium) {
    display: grid;
    grid-template-columns: 14rem auto;
    grid-gap: var(--space-xxx-large);
  }
}

::selection {
  background: var(--color-maize-200); /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: var(--color-maize-200); /* Gecko Browsers */
}

.content-max-width {
  max-width: 38rem;
}

address {
  white-space: pre-line;
}
