@use 'sass:map';

$mobile: 1000px;
$desktop: 1280px;

$breakpoints: (
  'small': 'max-width: #{$mobile}',
  'medium': 'min-width: #{$mobile + 1}',
  'large': 'min-width: #{$desktop}'
);

@mixin breakpoint($breakpoint: 'medium') {
  @media (map.get($breakpoints, $breakpoint)) {
    @content;
  }
}
