@mixin button {
  border: none;
  font-size: 1rem;
  font-family: var(--font-base-family);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: var(--space-small) var(--space-medium);
  background: var(--color-teal-400);
  cursor: pointer;
  text-decoration: none;
  min-width: var(--space-xxx-large);
  min-height: var(--space-xxx-large);
  font-weight: var(--bold);

  &:hover {
    box-shadow: 0 0 0 2px white, 0 0 0 3px var(--color-neutral-400);
    border-radius: 4px !important;
  }

  * {
    // prevent addEventListener from detecting children
    pointer-events: none;
  }

  // prevent icons in buttons from shrinking.
  svg {
    flex-shrink: 0;
  }
}

@mixin button--light {
  @include button;

  background: var(--color-blue-100);
  color: var(--color-teal-400);
}

button,
.button {
  @include button;
}

.button--light {
  @include button--light;
}

.button--close {
  background: transparent;
  color: var(--color-neutral-400);
  min-height: 0;
  min-width: 0;
  padding: var(--space-x-small);
  position: absolute;
  right: 0;
  top: 0;
}

.button--caution {
  background: var(--color-pink-500);
  color: white;
}
