@use "breakpoints";

[data-dropdown] * {
  // prevent addEventListener from detecting children
  pointer-events: none;
}

.dropdown {
  position: relative;
  @include breakpoints.breakpoint('small') {
    & > .button--dropdown,
    & .site-navigation-list  {
      display: none;
    }
    & > .dropdown-container {
      display: block!important
    }
  }
}

.button--dropdown {
  background-color: transparent;
  color: var(--color-neutral-400);
  gap: 0.25rem;
  font-weight: normal;
  padding: 0;
  &[aria-expanded="true"] {
    & > .material-symbols-rounded {
      transform: rotate(180deg);
    }
    @include breakpoints.breakpoint('medium') {
      & > .username {
        text-decoration: underline;
        text-decoration-thickness: 0.125rem;
      }
    }
  }
}

.dropdown-container {
  @include breakpoints.breakpoint('medium') {
    background: white;
    border-radius: 0.25rem;
    box-shadow: var(--z-space-medium);
    padding: 1rem 1.5rem;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 101;
  }
  ul,
  li {
    margin: 0;
    padding: 0;
  }
  ul {
    list-style: none;
    @include breakpoints.breakpoint('medium') {
      & + a {
        border-top: solid 1px var(--color-neutral-100);
        margin-top: 0.5rem;
        padding-top: 0.5rem;
      }
    }
  }
  a {
    display: block;
    text-decoration: none;
    color: var(--color-neutral-400);
    padding: 0.25rem 0;
    white-space: nowrap;

    &:hover,
    &:focus {
      text-decoration: underline;
      text-decoration-thickness: 0.125rem;
    }
  }
  li.active a {
    color: var(--color-teal-400);
    font-weight: 800;
  }
}
