.empty-state-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: var(--space-medium);
  background: var(--color-blue-100);
  border: solid 1px var(--color-neutral-100);
  padding: var(--space-x-large);
  border-radius: 4px;

  @media screen and (max-width: $breakpoint-mobile) {
    flex-direction: column;
    div + div {
      margin-top: var(--space-xx-large);
    }
  }

  .empty-state-content {
    & > *:first-child {
      margin-top: 0;
    }
    @media screen and (max-width: $breakpoint-mobile) {
      align-self: flex-start;
    }
  }

  @media screen and (min-width: $breakpoint-desktop) {
    div + div {
      margin-left: var(--space-xx-large);
    }
    .empty-state-image {
      width: 35%;
    }
  }
}
