.empty-state-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: var(--space-medium);
  background: var(--color-blue-100);
  border: solid 1px var(--color-neutral-100);
  padding: var(--space-x-large);
  border-radius: 4px;

  h2 {
    padding-bottom: var(--space-x-small);
  }

  div {
    padding-right: var(--space-xx-large);
  }

  img {
    width: 25%;
  }
}
