input[type="text"] {
  font-size: 1rem;
  font-family: var(--font-base-family);
  border: solid 1px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: var(--space-small);
  margin: 0;
  width: 100%;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  font-size: inherit;
  border: solid 1px var(--color-neutral-100);
  padding: var(--space-small) var(--space-x-small);
  border-radius: var(--radius-default);
}

option {
  padding: 0;
}

select::-ms-expand {
  display: none;
}
