.horizontal-navigation-container {
  display: flex;
  flex-direction: column;

  .horizontal-navigation-list {
    list-style: none;
    margin: 0;
    border-bottom: solid 1px var(--color-neutral-100);
  
    li {
      display: inline-block;
      margin-bottom: 0;
    }
  
    li:not(:last-of-type) {
      padding-right: var(--space-large);
    }
  
    a {
      display: inline-block;
      padding: var(--space-medium) 0;
      margin-bottom: -1px;
      text-decoration: none;
      color: var(--color-neutral-400);
      font-weight: 600;
  
      &:not(.active):hover {
        text-decoration: underline;
        text-decoration-thickness: 2px;
      }
    }
  
    a.active {
      color: var(--color-teal-400);
      border-bottom: 4px solid var(--color-teal-400);
    }
  }
  
  .horizontal-heading {
    margin-top: var(--space-xx-large);
    margin-bottom: var(--space-small);
    order: 2;
  }
}
