@mixin material-symbols {
  span[class^="material-symbols-"] {
    @content;
  }
}

@include material-symbols {
  font-size: 1rem;
  position: relative;
  top: 0.125rem;
};

.icon__filled {
  font-variation-settings: 'FILL' 1
}
