.loans-empty-state-container {
  display: flex;
  align-items: center;

  padding-top: var(--space-medium);

  h2 {
    padding-bottom: var(--space-x-small);
  }

  div {
    padding-right: var(--space-x-large);
  }

  img {
    width: 40%;
  }
}

.loan-caption-inner-layout {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.loan-controls,
.loan-controls form {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;

  & > *:not(:last-child) {
    margin-right: var(--space-medium);
  }
}

.loan-control {
  & > *:not(:last-child) {
    margin-right: var(--space-medium);
  }
}
