.loans-empty-state-container {
  display: flex;
  align-items: center;

  padding-top: var(--space-medium);

  h2 {
    padding-bottom: var(--space-x-small);
  }

  div {
    padding-right: var(--space-x-large);
  }

  img {
    width: 40%;
  }
}

.shelf-navigation-container {
  display: flex;
  flex-direction: column;

  .shelf-heading {
    margin-top: var(--space-xx-large);
    order: 2;
  }

  .local-navigation {
    order: 1;
  }
}
