.message,
.message--error,
.message--success {
  padding: var(--space-small) var(--space-medium);
}

.message {
  background: var(--color-teal-100);
  border-bottom: solid 1px var(--color-teal-400);
  color: var(--color-teal-500);
}

.message--error {
  background: var(--color-pink-100);
  border-bottom: solid 1px var(--color-pink-400);
  color: var(--color-pink-500);
}

.message--success {
  background: var(--color-green-100);
  border-bottom: solid 1px var(--color-green-400);
  color: var(--color-green-500);
}

.message-callout {
  border: solid 1px var(--color-neutral-100);
  border-left: solid var(--space-xx-small) var(--color-teal-400);
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 0.75rem;
  padding: var(--space-large);
  padding-right: var(--space-x-large);
  border-radius: var(--radius-default);
  position: relative;

  .button--close {
    background: transparent;
    color: var(--color-neutral-400);
    min-height: 0;
    min-width: 0;
    padding: var(--space-x-small);
    position: absolute;
    right: 0;
    top: 0;
  }

  .message-callout-icon {
    color: var(--color-teal-400);
    m-icon > svg {
      height: auto;
      width: var(--space-large);
    }
  }
}

.message-callout--success {
  border-left-color: var(--color-green-400);
  .message-callout-icon {
    color: var(--color-green-500);
  }
}

.message-callout--warning {
  border-left-color: var(--color-maize-400);
  .message-callout-icon {
    color: var(--color-maize-500);
  }
}

.message-callout-content {
  p:not(:last-child) {
    padding-bottom: var(--space-small);
  }

  ul {
    margin-left: var(--space-x-large);
  }

  li {
    margin-bottom: 0;
  }
}
