.message,
.message--error,
.message--success {
  padding: var(--space-small) var(--space-medium);
}

.message {
  background: var(--color-teal-100);
  border-bottom: solid 1px var(--color-teal-400);
  color: var(--color-teal-500);
}

.message--error {
  background: var(--color-pink-100);
  border-bottom: solid 1px var(--color-pink-400);
  color: var(--color-pink-500);
}

.message--success {
  background: var(--color-green-100);
  border-bottom: solid 1px var(--color-green-400);
  color: var(--color-neutral-400);
}
