.message,
.message--error,
.message--success {
  padding: var(--space-small) var(--space-medium);
}

.message {
  background: var(--color-teal-100);
  border-bottom: solid 1px var(--color-teal-400);
  color: var(--color-teal-500);
}

.message--error {
  background: var(--color-pink-100);
  border-bottom: solid 1px var(--color-pink-400);
  color: var(--color-pink-500);
}

.message--success {
  background: var(--color-green-100);
  border-bottom: solid 1px var(--color-green-400);
  color: var(--color-green-500);
}

.message-callout {
  border: solid 1px var(--color-neutral-100);
  border-left: solid var(--space-x-small) var(--color-teal-400);
  padding: var(--space-large);
  border-radius: var(--radius-default);

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.message-callout-content {
  p {
    padding-bottom: var(--space-small);
  }

  ul {
    margin-left: var(--space-x-large);
  }

  li {
    margin-bottom: 0;
  }
}
