.overview-cards {
  // resets
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    padding: 0;
    margin: 0;
  }

  // styles
  margin: var(--space-x-large) 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: var(--space-large);
}

.overview-card {
  display: block;
  border: solid 1px var(--color-neutral-100);
  border-radius: var(--radius-default);
  padding: var(--space-large);
  padding-bottom: var(--space-x-large);
  text-decoration: none;

  &:hover .overview-card-heading {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--color-teal-400);
  }
}

.overview-card-heading {
  padding: 0;
  margin: 0 !important;
  color: var(--color-neutral-400);
}

.overview-card-description {
  color: var(--color-neutral-300);
}
