.overview-cards {
  // resets
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    padding: 0;
    margin: 0;
  }

  // styles
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 1.5rem;
}

.overview-card {
  display: flex;
  border: solid 1px var(--color-neutral-100);
  border-radius: var(--radius-default);
  padding: 1.5rem;
  padding-bottom: 2rem;
  text-decoration: none;
  align-items: center;
  justify-content: space-between;
  height: 100%;

  &:hover .overview-card-heading {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--color-teal-400);
  }
}

.overview-card-heading {
  padding: 0;
  margin: 0 !important;
  color: var(--color-neutral-400);

  m-icon {
    margin-left: 0.5rem;
  }
}

.overview-card-description {
  color: var(--color-neutral-300);
}

.overview-card-icon-container {
  --overview-card-icon-color: var(--color-teal-400);
  --overview-card-icon-background-color: var(--color-teal-100);

  display: flex;
  justify-content: space-evenly;
  margin-left: 1rem;
  border-radius: 100%;
  padding: 1rem;
  background: var(--overview-card-icon-background-color);

  m-icon {
    display: flex;
  }

  svg {
    color: var(--overview-card-icon-color);
    width: 2.5rem;
    height: 2.5rem;
  }
}
