.pagination {
  margin: 2rem 0;

  .pagination-pages {
    list-style: none;
    display: grid;
    grid-gap: 0.75rem;
    grid-template-columns: repeat(auto-fill, 3rem);
  }

  .pagination-page {
    display: inline-block;
    margin: 0;

    .pagination-page-link {
      @include button--light;

      &[aria-current="true"] {
        @include button;
      }
    }
  }

  .pagination-heading {
    font-size: 1rem;
    margin: 0;
  }
}
