.pagination {
  margin: var(--space-x-large) 0;

  .pagination-pages {
    list-style: none;
    display: grid;
    grid-gap: var(--space-small);
    grid-template-columns: repeat(auto-fill, var(--space-xxx-large));
  }

  .pagination-page {
    display: inline-block;
    margin: 0;

    .pagination-page-link {
      @include button--light;

      &[aria-current="true"] {
        @include button;
      }
    }
  }

  .pagination-heading {
    font-size: 1rem;
    margin: 0;
  }
}
