.renew-all-message {
  margin-top: calc(-1 * var(--space-x-small));
  border: solid 1px var(--color-neutral-100);
  border-left: solid var(--space-x-small) var(--color-teal-400);
  padding: var(--space-large);
  border-radius: var(--radius-default);

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.renew-all-message-content {
  p {
    padding-bottom: var(--space-small);
  }

  ul {
    margin-left: var(--space-x-large);
  }

  li {
    margin-bottom: 0;
  }
}
