.site-footer {
  margin-top: var(--space-xxx-large);
}

*[class^="site-footer__"] {
  & > .layout {
    display: grid;
    gap: 2rem 1rem;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  }
}

.site-footer__content {
  background: var(--color-blue-400);
  padding: var(--space-xxx-large) 0;

  &,
  & * {
    color: var(--color-blue-100);
  }

  h2 {
    color: var(--color-blue-200);
    font: var(--bold) 14px var(--font-base-family);
    letter-spacing: 1.25px;
    margin-bottom: var(--space-medium);
    text-transform: uppercase;
  }

}

.site-footer__disclaimer {
  background: var(--color-blue-500);
  color: var(--color-blue-200);
  padding: var(--space-medium) 0;

  a {
    color: var(--color-blue-200);
  }

  & > .layout {
    gap: 0 1rem;
  }
}
