.site-skip-links {
  background: var(--color-blue-400);
  &:not(:focus-within) {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
  a {
    color: white;
    padding: 0.5rem;
  }
  ul {
    margin: 1rem 0;
    text-align: center;
    li + li {
      margin-top: 1rem;
    }
  }
}
