@use "breakpoints";

.responsive-table {
  overflow-x: auto;
  table {
    width: 100%;
    * {
      text-align: left;
    }
    caption {
      .caption-flex {
        justify-content: space-between;
        &,
        form,
        form > label {
          align-items: center;
          display: flex;
        }
        &,
        form {
          gap: 1rem;
          flex-wrap: wrap;
        }
        form,
        form > label {
          justify-content: flex-start;
        }
        form > label {
          gap: 0.5rem;
        }
      }
    }
    thead {
      border-bottom: solid 2px var(--color-maize-400);
      @include breakpoints.breakpoint('small') {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }
    }
    th,
    td {
      vertical-align: top;
      @include breakpoints.breakpoint('medium') {
        padding: 1rem 0;
        &:not(:last-of-type) {
          padding-right: 2rem;
        }
      }
    }
    th {
      font-size: 0.875rem;
      font-weight: 800;
      letter-spacing: 1.25px;
      text-transform: uppercase;
      @include breakpoints.breakpoint('large') {
        white-space: nowrap;
      }
      &[scope="row"] {
        line-height: 2;
        @include breakpoints.breakpoint('small') {
          border: none;
          clip: rect(0 0 0 0);
          height: 1px;
          margin: -1px;
          overflow: hidden;
          padding: 0;
          position: absolute;
          width: 1px;
        }
      }
    }
    tbody {
      tr {
        border-bottom: solid 1px var(--color-neutral-100);
        @include breakpoints.breakpoint('small') {
          display: grid;
          grid-template-columns: 1fr auto;
          padding: 1rem 0;
          td {
            display: block;
            grid-column: 1 / 2;
            &:first-of-type:not(:only-of-type) {
              padding-bottom: 0.75rem;
            }
            &.table-cell-action {
              grid-column: 2 / 3;
              grid-row: 1 / -1;
              padding-left: 1rem;
            }
            a:not(.button) {
              display: block;
            }
            .bullet-point:first-of-type {
              display: none;
            }
          }
        }
        span[aria-hidden="true"] {
          font-weight: 600;
          @include breakpoints.breakpoint('medium') {
            display: none;
          }
        }
      }
    }
  }
}
