.tag,
.tag--fail,
.tag--success,
.tag--info,
.tag--warning {
  border-radius: var(--radius-default);
  background: var(--color-neutral-100);
  color: var(--color-neutral-400);
  display: inline-block;
  padding: 0.125rem 0.5rem;
  white-space: nowrap;
}

.tag--fail {
  background: var(--color-pink-200);
}

.tag--success {
  background: var(--color-green-200);
}

.tag--info {
  background: var(--color-teal-200);
}

.tag--warning {
  background: var(--color-maize-200);
}
