.tag,
.tag--fail,
.tag--success,
.tag--warning {
  border-radius: var(--space-xx-small);
  background: var(--color-neutral-100);
  color: var(--color-neutral-400);
  display: inline-block;
  padding: var(--space-xxx-small) var(--space-x-small);
  white-space: nowrap;
}

.tag--fail {
  background: var(--color-pink-200);
  color: var(--color-neutral-400);
}

.tag--success {
  background: var(--color-green-400);
  color: var(--color-green-100);
}

.tag--warning {
  background: var(--color-maize-200);
  color: var(--color-neutral-400);
}
