.prose {
  @media screen and ($breakpoint-large) {
    font-size: var(--text-x-small);
  }

  h1 {
    margin-bottom: var(--space-x-large);
  }

  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4 {
    margin-top: var(--space-xx-large);
  }

  & > p {
    max-width: 38rem;
  }
}

.owl {
  & > * + * {
    margin-top: var(--space-medium);
  }
  & > .visually-hidden {
    &,
    &:first-child + * {
      margin-top: 0;
    }
  }
}

.sticky-top {
  position: sticky;
  top: var(--space-large);
}

.badge {
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 700;
  border-radius: 4px;
  font-family: var(--font-base-family);
  padding: var(--space-xxx-small) var(--space-x-small);
  background: var(--color-neutral-100);
  border: solid 1px var(--color-neutral-300);
  vertical-align: super;
  line-height: var(--line-height-default);
}

.badge--warning {
  background: var(--color-orange-100);
  border-color: var(--color-orange-300);
  color: var(--color-orange-500);
}

.narrow-content > *:not(.responsive-table) {
  max-width: 36rem;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
