# no environment variables
.env
drupal_models
drupal_models_specs
spec/fixtures/fixtures_drupal
node_modules
coverage
public/bundles/
.viminfo
.local
.byebug_history
.sass-cache
.gem/
.npm/
.config/
.bundle/
.bash_history
.irb_history
.solargraph.yml
.node-gyp/
