ALMA_API_KEY='YOUR-ALMA-API-KEY'
ALMA_API_HOST='https://api-na.hosted.exlibrisgroup.com'
ILLIAD_API_KEY='YOUR-ILLIAD-API-KEY'
ILLIAD_API_HOST='http://illiad-api-host.com'
NELNET_SECRET_KEY='YOUR-NELNET-SECRET-KEY'
NELNET_PAYMENT_URL='https://nelnet-api-host.com'
APP_ENV='development'

