<% if pagination.pages.length > 1 %>
<nav aria-label="pagination" class="pagination">
  <ol class="pagination-pages">
    <% unless pagination.previous.current_page? %>
    <li class="pagination-page">
      <a href="<%=pagination.previous.url%>" class="pagination-page-link">
        <span class="visually-hidden">Previous page</span>
        <span class="material-symbols-rounded" aria-hidden="true">keyboard_arrow_left</span>
      </a>
    </li>
    <% end %>

    <% pagination.pages.each do | page | %>
    <li class="pagination-page">
      <a href="<%=page.url%>" class="pagination-page-link" <% if page.current_page? %>aria-current="true"<%end%> >
        <span class="visually-hidden">page</span> <%= page.page_number %>
      </a>
    </li>
   <%end%>

   <% unless pagination.next.current_page? %>
    <li class="pagination-page">
      <a href="<%=pagination.next.url%>" class="pagination-page-link">
        <span class="visually-hidden">Next page</span>
        <span class="material-symbols-rounded" aria-hidden="true">keyboard_arrow_right</span>
      </a>
    </li>
    <% end %>
  </ol>
</nav>
<% end %>
