<a href="<%=item.url%>"><%= item.title %></a>
<% if item.author? %>
  <span class="bullet-point">&#183;</span>
  <span><%= item.author %></span>
<% end %>
<% if item.description? %>
  <span class="bullet-point">&#183;</span>
  <span><%= item.description %></span>
<% end %>
