<% test_users = [
  {
    label: "Faculty (many)",
    value: 'mlibrary.acct.testing1@gmail.com'
  },
  {
    label: 'Graduate student (few)',
    value: 'mlibrary.acct.testing2@gmail.com'
  },
  {
    label: "New student (none)",
    value: 'mlibrary.acct.testing3@gmail.com'
  },
  {
    label: 'Not in Alma',
    value: 'definitelynotinalma'
  },
] %>

<m-callout subtle>
  <h2>Design &amp; Development Options</h2>
  <form method="get" action="/session_switcher" class="prose owl">
    <label for="test-user">
      Active user account:
    </label>
    <input type="text" list="users" id="test-user" name="uniqname" autocomplete="on" value="<%=session[:uniqname] || "" %>">
    <datalist id="users">
      <% test_users.each do |user| %>
        <option value="<%=user[:value]%>"><%=user[:label]%></option>
        <% end %>
    </datalist>
    <button>Save</button>
  </form>
</m-callout>
