<section class="empty-state-container">
  <div class="empty-state-content owl">
    <h2 class="h3">
      Internal Server Error 
    </h2>
    <p>We can't access the site you're looking for at the moment.</br>
    This can sometimes happen when:</p>
<ul>
  <li>The system is overloaded</li>
  <li>We're running system maintenance</li>
</ul>

<p>Please referesh your browser window or try again later.</p>
  </div>

  <div class="empty-state-image">
    <img src="/error.png" alt="Four rabbits and a young boy named Christopher Robin try to pull a bear named Winnie-the-Pooh out of a hole where he is stuck." />
    <p><a href="https://search.lib.umich.edu/catalog/record/990011126410106381">Source: Winnie-the-Pooh by A.A. Milne with illustrations by Ernest H. Shepard (1926)</a></p>
  </div>
</section>
