<h1 aria-hidden="true">Requests</h1>

<nav aria-labelledby="requests-heading" class="horizontal-navigation-container">
  <h1 class="h2 horizontal-heading" id="requests-heading"><span class="visually-hidden">Requests: </span>From Other Institutions (Interlibrary Loan)</h1>

  <%= erb :requests_navigation %>
</nav>

<div class="table-container">
  [todo]
</div>
