<div class="message-callout <% if message.renewed? and !message.not_renewed? %>message-callout--success<% elsif message.not_renewed? %>message-callout--warning<% end %>">
  <button class="button--light button--close" disabled>
    <m-icon name="close"></m-icon><span class="visually-hidden">Close</span>
  </button>
  <div class="message-callout-icon" aria-live="polite">
    <% if message.renewed? and !message.not_renewed? %>
      <m-icon name="check"></m-icon>
    <% elsif message.not_renewed? %>
      <m-icon name="info"></m-icon>
    <% end %>
  </div>
  <div class="message-callout-content" aria-live="polite">
    <% if message.renewed? %>
      <p><strong><%= message.renewed_text %></strong></p>
    <% end %>
    
    <% if message.not_renewed? %>
      <p><strong><%=message.not_renewed_text%></strong></p>
      <ul>
        <% message.unrenewable_reasons.each do |reason| %>
          <li><%=reason%></li>
        <% end %>
      </ul>
      <% message.not_renewed_continued_text.each do |continued| %>
        <p><%=continued%></p>
      <% end %>
    <% end %>
  </div>
</div>
