<div class="message-callout">
  <div class="message-callout-content">
    <p><strong>15 items were successfully renewed.</strong></p>
    
    <p><strong>12 items were unable to be renewed for one of the following reasons:</strong></p>
    <ul>
      <li>Item has exceeded the number of renews allowed</li>
      <li>Item is for building-use only</li>
      <li>Item has been reported as lost</li>
    </ul>
  </div>

  <a href="<%=request.path_info%>" class="message-callout-dismiss">Dismiss</a>
</div>
