<div class="modal-wrapper can-close" aria-live="polite">
  <div class="modal-container">
    <button class="button--light button--close close-message" disabled>
      <m-icon name="close"></m-icon><span class="visually-hidden">Close</span>
    </button>
    <div class="modal-icon">
      <m-icon name="warning"></m-icon>
    </div>
    <div class="modal-content owl">
      <h2>Delete checkout history</h2>
      <p>Once you opt out, your previous checkout history is deleted 
      and cannot be recovered, even if you opt back in later.</p>
    </div>
    <div class="modal-buttons">
      <button class="button--light close-message" disabled>
        Cancel
      </button>
      <button class="button--caution" disabled>
        Delete history
      </button>
    </div>
  </div>
</div>
