<% pages = [
  {
    label: 'Account Overview',
    to: '/',
  },
  {
    label: 'Shelf',
    to: '/shelf',
    match: [ # Can we match the route to one of these to signal it is active?
      '/shelf',
      '/past-loans',
      '/document-delivery'
    ]
  },
  {
    label: 'Requests',
    to: '/requests'
  },
  {
    label: 'Fines & Fees',
    to: '/fines'
  },
  {
    label: 'Profile',
    to: '/profile'
  }
] %>

<nav class="site-navigation site-layout__left">
  <div class="sticky-top">
    <ul class="site-navigation-list">
      <% pages.each do |page| %>
        <li class="<%= page[:to] == request.path_info ? 'active': '' %>">
          <a href="<%=page[:to]%>">
            <%=page[:label]%>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
