<% my_pages = Navigation.new(request.path_info) %>

<nav class="site-navigation site-layout__left">
  <div class="sticky-top">
    <ul class="site-navigation-list">
      <% my_pages.pages.each do |page| %>
        <li class="<%= page.active? ? 'active': '' %>">
          <a href="<%=page.path%>">
            <m-icon name="<%=page.icon_name%>"></m-icon><span><%=page.title%></span>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
