<h1>Contact information</h1>

<div class="owl narrow-content">

  <p>You can update your name and address at <a href="https://wolverineaccess.umich.edu/task/all/campus-personal-info">Wolverine Access</a>.</p>

  <p>To change document delivery preferences, visit your <a href="https://ill.lib.umich.edu/illiad/ChangeSite/ChangeSite.asp">interlibrary loan account</a>.</p>

  <table class="patron-table">
    <tr>
      <th>Full name</th>
      <td><%= patron.full_name %></td>
    </tr>
    <tr>
      <th>Email</th>
      <td><%= patron.uniqname %>@umich.edu</td>
    </tr>
  </table>

  <form method="post" action="/sms">
    <h2>Text Notifications</h2>

    <p>Add a phone number to receive text notifications on the status of your request and loans. Special collections requests are not included. Message and data rates may apply.</p>

    <input type="checkbox" id="text-notifications" <% if patron.sms_number? %>checked<% end%>>
    <label for="text-notifications">Text notifications are on</label>

    <label class="text-notifications-label" for="phone-number">
      Phone number
    </label>
    <div class="text-notifications-input-container">
      <input type="text" name="phone-number" id="phone-number" value="<%= patron.sms_number %>" />
      <button>Save</button>
    </div>
  </form>

  <form method="post" action="/checkout-history">
    <h2>Checkout History</h2>

    <p>We've been preserving your checkout history since April 2016. If you’d like to continue to keep a record of your checkout history, you can select that option now.</p>

    <p>If you prefer to have your checkout history deleted and no longer record future checkouts, you can opt-out.</p>

    <p>You can change this preference at any time.</p>

    <fieldset>
      <legend>Checkout history</legend>
      <div>
        <input type="radio" name="checkout-history" id="opt-in" value="yes" checked>
        <label for="opt-in">Yes, record my checkout history.</label>
      </div>
      <div>
        <input type="radio" name="checkout-history" id="opt-out" value="no">
        <label for="opt-out">No, do not record my checkout history.</label>
      </div>
    </fieldset>
    
    <button>Update preferences</button>
  </form>

</div>
