<h1>Contact information</h1>

<div class="owl narrow-content">

  <p>To update you name and address, visit <a href="https://wolverineaccess.umich.edu/">Wolverine Access</a>.</p>

  <table class="patron-table">
    <tr>
      <th>Full name</th>
      <td><%= patron.full_name %></td>
    </tr>
    <tr>
      <th>Address</th>
      <td>
        <% patron.addresses do |address| %>
          <p><%= address %></p>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Email</th>
      <td><%= patron.uniqname %>@umich.edu</td>
    </tr>
  </table>

  <h2>Would you like to recieve text message notifications?</h2>

  <p>I would like to recieve text message notifications from the library. This applies to items I check out and request from the U-M Library and InterLibrary Loan. Special Collections requests are not included. *Standard message and data rates apply.</p>

  <form method="post" action="/sms">
    <label>Phone number</label>
    <input type="text" name="phone-number" value="<%= patron.sms_number %>" />

    <button>Submit</button>
  </form>

</div>
