<h1>Contact information</h1>

<div class="owl narrow-content">

  <p>To update you name and address, visit <a href="https://wolverineaccess.umich.edu/">Wolverine Access</a>.</p>

  <table class="patron-table">
    <tr>
      <th>Full name</th>
      <td><%= patron.full_name %></td>
    </tr>
    <tr>
      <th>Address</th>
      <td>
        <% patron.addresses do |address| %>
          <p><%= address %></p>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Email</th>
      <td><%= patron.uniqname %>@umich.edu</td>
    </tr>
  </table>

  <form method="post" action="/sms">
    <h2>Text notifications</h2>

    <label class="text-notifications-label">
      <p><strong>Phone number</strong></p>
      <p>We will use this number to send text message notifications from the library. This applies to items that been checked out or requested from the library and Interlibrary Loan. Special Collections requests are not included.</p>
    </label>

    <div class="text-notifications-input-container">
      <input type="text" name="phone-number" value="<%= patron.sms_number %>" />

      <button>Save</button>
    </div>
  </form>

</div>
