<% pages = [
  {
    label: 'U-M Library',
    to: '/requests/um-library'
  },
  {
    label: 'From Other Institutions (Interlibrary Loan)',
    to: '/requests/interlibrary-loan'
  },
] %>


<ul class="horizontal-navigation-list">
    <% pages.each do |page| %>
      <li>
        <a href="<%=page[:to]%>" class="<%= page[:to] == request.path_info ? 'active': '' %>" >
          <%=page[:label]%>
        </a>
      </li>
    <% end %>
</ul>