<% pages = [
  {
    label: 'Current loans',
    to: '/shelf/loans'
  },
  {
    label: 'Past loans',
    to: '/shelf/past-loans'
  },
  {
    label: 'Document delivery',
    to: '/shelf/document-delivery'
  },
] %>


<ul class="shelf-navigation-list">
    <% pages.each do |page| %>
      <li>
        <a href="<%=page[:to]%>" class="<%= page[:to] == request.path_info ? 'active': '' %>" >
          <%=page[:label]%>
        </a>
      </li>
    <% end %>
</ul>