<a href="<%=item.url%>"><%= item.title %></a>
<% if item.author? %>
  <span> &#183; <%= item.author %> </span>
<% end %>
<% if item.description? %>
  <span> &#183; <%= item.description %> </span>
<% end %>
