<% my_pages = Navigation.new(request.path_info) %>

<nav class="user-navigation dropdown">
  <button aria-expanded="false" data-dropdown="user-nav-dropdown" class="button--dropdown">
    <m-icon name="person-outline"></m-icon>
    <span><%=session[:full_name]%></span>
    <m-icon name="keyboard-arrow-down"></m-icon>
  </button>
  <div class="navigation-lists dropdown-container" id="user-nav-dropdown" style="display: none;">
    <ul class="site-navigation-list">
      <% my_pages.pages.each do |page| %>
        <li class="<%= page.active? ? 'active': '' %>">
          <a href="<%=page.path%>">
            <span><%=page.title%></span>
          </a>
        </li>
      <% end %>
    </ul>
    <ul class="user-navigation-list">
      <li>
        <a href="/">
          <span>Log out</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
