/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
abbr,
acronym,
address,
big,
cite,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  /* Chrome, Safari */
  -moz-osx-font-smoothing: grayscale;
  /* Firefox */ }

a {
  color: var(--color-teal-400); }
  a:hover {
    text-decoration-thickness: 2px; }

ul {
  list-style: disc;
  margin-left: var(--space-large); }

ol {
  list-style: decimal; }

li:not(:last-child) {
  margin-bottom: var(--space-small); }

code,
pre {
  font-family: Consolas, Monaco, Courier New, Courier, monospace; }

strong,
b {
  font-weight: 700; }

table {
  width: 100%; }

th {
  text-align: left;
  border-bottom: solid 2px var(--color-maize-400);
  font-size: 0.875rem;
  font-weight: 800;
  letter-spacing: 1.25px;
  text-transform: uppercase; }

th,
td {
  padding: var(--space-medium);
  padding-left: 0;
  padding-right: 0;
  vertical-align: top; }
  th:not(:last-of-type),
  td:not(:last-of-type) {
    padding-right: var(--space-x-large); }

td {
  border-bottom: solid 1px var(--color-neutral-100); }

img {
  max-width: 100%; }

* {
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

/*
  If the user has expressed their preference for
  reduced motion, then don't use animations, etc.

  source: https://web.dev/prefers-reduced-motion/
*/
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important; } }

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  color: var(--color-neutral-400);
  font-family: var(--font-base-family); }

/* Keep footer at bottom CSS */
html,
body {
  height: 100%; }

body {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: 100%; }
  @media screen and (min-width: 820px) {
    body {
      grid-template-rows: auto auto 1fr auto; } }

main.layout {
  align-content: baseline; }
  @media screen and (min-width: 920px) {
    main.layout {
      margin-top: var(--space-xx-large); } }

/* end */
h1 {
  font-family: var(--font-second-family);
  font-size: var(--text-xxx-large);
  line-height: var(--line-height-page-heading);
  margin-bottom: var(--space-large); }

h2 {
  font-size: var(--text-large);
  font-weight: var(--bold); }

h3 {
  font-size: var(--text-medium);
  font-weight: var(--semibold); }

h4 {
  font-size: var(--text-small);
  font-weight: var(--bold); }

.layout {
  padding: 0 var(--space-medium);
  max-width: 1280px;
  margin: 0 auto; }
  @media screen and (min-width: 721px) {
    .layout {
      padding: 0 var(--space-xx-large); } }

@media screen and (min-width: 920px) {
  .site-layout {
    width: 100%;
    display: grid;
    grid-template-columns: 12rem auto;
    grid-gap: 3rem; } }

::selection {
  background: var(--color-maize-200);
  /* WebKit/Blink Browsers */ }

::-moz-selection {
  background: var(--color-maize-200);
  /* Gecko Browsers */ }

@media screen and (min-width: 820px) {
  .prose {
    font-size: var(--text-x-small); } }

.prose h1 {
  margin-bottom: var(--space-x-large); }

.prose h2,
.prose h3,
.prose h4 {
  margin-top: var(--space-xx-large); }

.owl > * + * {
  margin-bottom: var(--space-medium); }

.sticky-top {
  position: sticky;
  top: var(--space-large); }

.badge {
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 700;
  border-radius: 4px;
  font-family: var(--font-base-family);
  padding: var(--space-xxx-small) var(--space-x-small);
  background: var(--color-neutral-100);
  border: solid 1px var(--color-neutral-300);
  vertical-align: super;
  line-height: var(--line-height-default); }

.badge--warning {
  background: var(--color-orange-100);
  border-color: var(--color-orange-300);
  color: var(--color-orange-500); }

*:focus {
  outline: 0;
  box-shadow: 0 0 0 2px var(--color-maize-400), 0 0 0 3px var(--color-neutral-400);
  border-radius: 2px !important; }

.site-navigation {
  margin-bottom: var(--space-medium);
  border-bottom: solid 1px var(--color-neutral-100); }
  .site-navigation ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  .site-navigation li {
    display: inline-block;
    margin-bottom: 0; }
    @media screen and (max-width: 919px) {
      .site-navigation li:not(:last-child) {
        margin-right: var(--space-small); } }
    .site-navigation li.active a {
      color: var(--color-teal-400);
      font-weight: bold; }
  @media screen and (min-width: 920px) {
    .site-navigation {
      border-bottom: none; }
      .site-navigation li {
        display: block; }
      .site-navigation li:not(:last-child) {
        border-bottom: solid 1px var(--color-neutral-100); } }
  .site-navigation a {
    display: block;
    text-decoration: none;
    color: var(--color-neutral-400);
    padding: var(--space-small) 0; }
    .site-navigation a:hover, .site-navigation a:focus {
      text-decoration: underline; }
    .site-navigation a.active {
      color: var(--color-teal-400);
      font-weight: var(--semibold); }

.site-footer {
  margin-top: var(--space-xxx-large); }

.site-footer__content {
  background: var(--color-blue-400);
  color: var(--color-blue-100);
  padding: var(--space-xxx-large) 0; }
  .site-footer__content .m-details-xxx-small {
    color: var(--color-blue-200); }
  .site-footer__content h2 {
    margin-bottom: var(--space-medium); }

.site-footer__disclaimer {
  background: var(--color-blue-500);
  color: var(--color-blue-200);
  padding: var(--space-medium) 0; }
  .site-footer__disclaimer a {
    color: var(--color-blue-200); }
  @media screen and (min-width: 820px) {
    .site-footer__disclaimer p {
      display: inline-block; }
    .site-footer__disclaimer p + p {
      margin-left: var(--space-x-large); } }

.overview-cards {
  list-style: none;
  padding: 0;
  margin: 0;
  margin: var(--space-x-large) 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: var(--space-large); }
  .overview-cards li {
    padding: 0;
    margin: 0; }

.overview-card {
  display: block;
  border: solid 1px var(--color-neutral-100);
  border-radius: var(--radius-default);
  padding: var(--space-large);
  padding-bottom: var(--space-x-large);
  text-decoration: none; }
  .overview-card:hover .overview-card-heading {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--color-teal-400); }

.overview-card-heading {
  padding: 0;
  margin: 0 !important;
  color: var(--color-neutral-400); }

.overview-card-description {
  color: var(--color-neutral-300); }

.local-navigation ul {
  list-style: none;
  margin: 0;
  border-bottom: solid 1px var(--color-neutral-100); }

.local-navigation li {
  display: inline-block;
  margin-bottom: 0; }

.local-navigation li:not(:last-of-type) {
  padding-right: var(--space-large); }

.local-navigation a {
  display: inline-block;
  padding: var(--space-medium) 0;
  margin-bottom: -1px;
  text-decoration: none;
  color: var(--color-neutral-400);
  font-weight: 600; }

.local-navigation a.active {
  color: var(--color-teal-400);
  border-bottom: 4px solid var(--color-teal-400); }

.loans-empty-state-container {
  display: flex;
  align-items: center;
  padding-top: var(--space-medium); }
  .loans-empty-state-container h2 {
    padding-bottom: var(--space-x-small); }
  .loans-empty-state-container div {
    padding-right: var(--space-x-large); }
  .loans-empty-state-container img {
    width: 40%; }
