<div class="message-callout message-callout--success can-close">
  <div class="message-callout-icon" aria-live="polite" style="height: 0;">
    <m-icon name="check"></m-icon>
  </div>
  <p style="font-weight: bold;"><%= message.renewed_text %></p>
</div>
