<div class="message-callout message-callout--success can-close">
  <div class="message-callout-icon" aria-live="polite">
    <m-icon name="check"></m-icon>
  </div>
  <strong><%= message.renewed_text %></strong>
</div>
