input:not([type="checkbox"]):not([type="radio"]) {
  font-size: 1rem;
  font-family: var(--font-base-family);
  border: solid 1px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  padding: var(--space-small);
  margin: 0;
  width: 100%;
  &:invalid {
    border-color: var(--color-pink-500);
  }
  &:not(:focus) {
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
  }
}

select {
  // A reset of styles, including removing the default dropdown arrow
  appearance: none;
  // Additional resets for further consistency
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;

  border: 1px solid var(--color-neutral-300);
  border-radius: 0.25em;
  padding: var(--space-x-small);
  cursor: pointer;
  background-color: #fff;
  background-image: linear-gradient(to top, var(--color-neutral-100), #fff 33%);
  // Safari styling
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

.select::after {
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color: var(--color-neutral-400);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

option {
  padding: 0;
}

select::-ms-expand {
  display: none;
}

.toggle-switch {
  & + .toggle-switch-label {
    .toggle {
      background-color: var(--color-neutral-200);
      border: 1px solid var(--color-neutral-200);
      border-radius: var(--space-medium);
      display: inline-block;
      height: 1.5em;
      margin-right: var(--space-x-small);
      position: relative;
      top: var(--space-x-small);
      transition: none 0.2s ease-in-out;
      transition-property: background-color, border-color;
      width: 3em;
      &:before {
        content: '';
        background-color: white;
        border-radius: var(--space-medium);
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        transition: left 0.2s ease-in-out;
        width: 50%;
      }
    }
  }
  &:checked + .toggle-switch-label {
    .toggle {
      background-color: var(--color-teal-400);
      border-color: var(--color-teal-400);
      &:before {
        left: 50%;
      }
    }
  }
  &:focus + .toggle-switch-label {
    .toggle {
      outline: 0;
      box-shadow: 0 0 0 2px var(--color-maize-400),0 0 0 3px var(--color-neutral-400);
    }
  }
}

.input-description {
  color: inherit;
  span {
    font-size: var(--space-medium);
  }
  input:invalid + & {
    color: var(--color-pink-500);
  }
}

.radio-option {
  input[type="radio"] {
    &:checked + label m-icon[name="radio-button-unchecked"],
    &:not(:checked) + label m-icon[name="radio-button-checked"] {
      display: none;
    }
    &:not(:checked) + label m-icon {
      color: var(--color-neutral-200);
    }
    &:focus + label m-icon {
      outline: 0;
      box-shadow: 0 0 0 2px var(--color-maize-400),0 0 0 3px var(--color-neutral-400);
      border-radius: 2px;
    }
  }
  m-icon {
    color: var(--color-teal-500);
    position: relative;
    margin-right: var(--space-xx-small);
    top: var(--space-xxx-small);
  }
}
