<% if session[:confirmed_history_setting] == false %>
  <section class="banner">
    <div class="layout">
      <p><span class="material-symbols-rounded" aria-hidden="true">info</span> You have not yet specified whether you would like us to record your checkout history. You can update your preferences on the <a href="/settings">Settings</a> page.</p>
    </div>
  </section>
<% end %>
