<% dropdown = Navigation::UserDropdown.for(request.path_info) %>

<% if session[:uniqname] %>
  <nav class="user-navigation dropdown" aria-label="User Dropdown Navigation">
    <button aria-expanded="false" data-dropdown="user-nav-dropdown" class="button--dropdown">
      <span class="material-symbols-sharp">person</span>
      <span class="username"><%=session[:uniqname]%></span>
      <span class="material-symbols-rounded" style="display: block;">keyboard_arrow_down</span>
      <span class="material-symbols-rounded" style="display: none;">keyboard_arrow_up</span>
    </button>
    <div class="navigation-lists dropdown-container" id="user-nav-dropdown" style="display: none;">
      <ul class="site-navigation-list">
        <% dropdown.pages.each do |page| %>
          <li class="<%= page.active %>">
            <a href="<%=page.path%>" <% if page.active? %>aria-current="page"<% end %>>
              <span><%=page.title%></span>
            </a>
          </li>
        <% end %>
      </ul>
      <a href="/logout">
        <span>Log out</span>
      </a>
    </div>
  </nav>
<% end %>
