<p>You must visit <a href="http://aeon.lib.umich.edu/logon">your Special Collections account</a> to renew or get more info on Special Collection items.</p>

<p>Go to your <a href="https://aeon.bentley.umich.edu/login">Bentley Historical Library</a> or <a href="https://aeon.clements.umich.edu/logon">Clements Library</a> account pages for information on requests submitted through those libraries.</p>
